<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="me.fycz.fqweb" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:extractNativeLibs="false" android:label="@string/app_name" android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="@string/xposed_desc"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
        <meta-data android:name="xposedscope" android:value="com.dragon.read"/>
    </application>
</manifest>